* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  /* position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%); */
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border:1px solid green;

}

.board {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 1px;
  background-image: url(board.png);
  background-position: center;
}

.play {
  width: 100%;
}

.square {
  width: 3.5em;
  height: 3.5em; 
  border:1px solid purple;

  text-align: center;
  color: white;
  margin:0;
  padding:0;
}

.number {
  z-index: 2;
  position: absolute; 
  padding-left: 1.25em; 
  padding-top: 1em; 
}

.counter {
  z-index: 1000;
  width: 1.5em;
  height: 1.5em;
  margin-left: 1.75em; 
  margin-top: 0.5em; 
  border-radius: 15px;
}

.counter-O {
  background-color: red;
}

.counter-X {
  background-color: blue;
}